* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    background-color: var(--fondo-principal);
    color: var(--texto-primario)
}